<launch>
  <arg name="model" default="waffle_pi"/>
  <arg name="open_viewers" default="true"/>

  <include file="$(find tb3_sim_course)/launch/aruco_tracking.launch">
    <arg name="model" value="$(arg model)"/>
  </include>

  <group if="$(arg open_viewers)">
    <node pkg="image_view" type="image_view" name="camera_raw_view" output="screen">
      <remap from="image" to="/camera/rgb/image_raw"/>
    </node>
    <node pkg="image_view" type="image_view" name="aruco_gray_view" output="screen">
      <remap from="image" to="/aruco/gray_image"/>
    </node>
    <node pkg="image_view" type="image_view" name="aruco_threshold_view" output="screen">
      <remap from="image" to="/aruco/threshold_image"/>
    </node>
    <node pkg="image_view" type="image_view" name="aruco_debug_view" output="screen">
      <remap from="image" to="/aruco/debug_image"/>
    </node>
  </group>
</launch>
